@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900|Catamaran:500,700');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-size: 10px;
}